@CHARSET "ISO-8859-1";

table, td, th {
  			border: 2px solid #800000;
			font-family: 'Cherry Swash', cursive;
			color: #8cf7e1;
}
table {
	 	width: 100%;
		border-collapse: collapse;
	}

th {
  height: 70px;

}
td{
		text-align: center;
		height: 50px;
}
.tcolor{
		text-shadow: 2px 2px 4px #000000;
			font-family: 'Cherry Swash', cursive;
			color: #8cf7e1;
}
.bor{
			height:20px;
			width:50px;
			border:2px solid pink;
			text-shadow: 2px 2px 4px #000000;
			font-family: 'Cherry Swash', cursive;
			color: #8cf7e1;
}
	